body {
    font-family: 'Arial', sans-serif;
    background-color: #c33d3d;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.main-title {
    font-size: 2.5em;
    color: rgb(102, 229, 113); /* Red color for Christmas */
}

.talisman-info h2, .more-info h3 {
    font-size: 1.5em;
    color: rgb(177, 204, 0); /* Blue color for a Japanese feel */
    margin-bottom: 10px;
}

a {
    color: white; /* Changes the link color to white */
    text-decoration: none; /* Optional: removes the underline from links */
}

a:hover,
a:active,
a:visited {
    color: white; /* Keeps the link white even after it's clicked or hovered */
}

img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 20px auto;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
